<%- include('header.ejs') %>


<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://t3.ftcdn.net/jpg/05/30/96/04/360_F_530960431_c8fPd3HansYvrSJ4fJxZqp9OhjQmYoll.jpg"
        class="d-block w-100 object-fit-cover"
        style="height: 330px"
        alt="..."
      />
    </div>
    
  </div>
  
</div>



<div class="container my-5 contact">

  <div class="row d-flex justify-content-center">
    <div class="col-4 contactname">
     <div class="text-center mb-5">
        <h1   >
          Contact Us
        </h1>
      </div>
      </div>
  </div>
  <div class="row">
    
    <div class="col-md-6 " >
     

      <form action="https://formbold.com/s/oaGY4" method="POST">
        
        <div class="d-flex justify-content-center mb-3">
          <input
            type="text"
            id="name"
            placeholder="Name"
            class="form-control w-75 text-center"
            name="p_name"
            required
          />
        </div>
        
        <div class="d-flex justify-content-center mb-3">
          <input
            type="number"
            id="mobile"
            placeholder="Mobile Number"
            class="form-control w-75 text-center"
            name="p_mobile"
            required
          />
        </div>
        
        <div class="d-flex justify-content-center mb-3">
          <input
            type="email"
            id="email"
            placeholder="Email ID"
            class="form-control w-75 text-center"
            name="p_email"
            required
          />
        </div>
        
        <div class="d-flex justify-content-center mb-3">
          <textarea
            class="form-control w-75 text-center"
            placeholder="Address"
            name="p_address"
            rows="4"
          ></textarea>
        </div>
        
        <div class="d-flex justify-content-center mb-3">
          <textarea
            name="p_comment"
            class="form-control w-75 text-center"
            placeholder="Short Comment"
            rows="4"
          ></textarea>
        </div>

        
        <div class="text-center mb-5">
          <button class="btn btn-outline-primary btn-md w-50" type="submit">Save</button>
        </div>
      </form>
    </div>

    
    <div class="col-md-6">
      <div class="map-container">  
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.906020070785!2d90.41277521538358!3d23.810311384564692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b88a73fd1751%3A0x91ff4897f1f98087!2sDhaka%20City%20Corporation!5e0!3m2!1sen!2sbd!4v1619265158272!5m2!1sen!2sbd"
          width="100%"
          height="400"
          style="border:0; border-radius: 8px;"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>


<script>
  function thanks() {
    alert("Thanks For Contacting us... From Nन्हे");
  }
</script>

<%- include('footer.ejs') %>
